/*NOTES
Color Palette:
1) Blue - 			#364c63			rgba(54,76,99,)		
2) Dark Orange - 	#e66a2c			rgba(230,106,44,)
3) Flesh - 			#e9e3d7			rgba(233,227,215,)
4) Orange - 		#f3b340			rgba(243,179,64,)
5) Lighter Flesh - 	#f4f3ef			rgba(244,243,239,)				*/

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background:  #f4f3ef;
	margin: 0px 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.header {
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 100;
	vertical-align: middle;
	top: 0;
}

.header.scrolled {
	background-color: rgba(233,227,215,.9);
}

a {
	color: #364c63;
}

.header img {
	height: 50px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
	background-color: white;
}

.header ul a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.header ul a:hover, a:active {
	color: #364c63;
	background-color: #e9e3d7;
	font-weight: bold;
}

.header ul a:active {
	font-weight: bold;
}

.header #shop {
	font-weight: bold;
}

.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 5px 5px;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon {
	/*background-color: rgba(233,227,215,.3);
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);*/
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: #364c63;
	display: block;
	height: 3px;
	width: 25px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 8px;
}

.header .menu-icon .nav-icon:after {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	bottom: 8px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	bottom: 0;
}

/*-----------------------------CONTENT-----------------------------*/
.container-a {
	height: auto;
	text-align: center;
}

.video {
	height: 189px;
	display: block;
	margin: 0;
}

.img2 {
	display: none;
}

.video video {
	width: 100vw;
}

.t1 {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

.container-b {
	background: #e9e3d7;
}

.b1 {
	text-align: center;
	padding: 20px 20px 0px 20px;
}

.b1 #img2, .b1 #img3 {
	display: none;
}
.b2, .b3 {
	padding: 20px;
}
.b2 img {
	height: 80px;
}
.b2 h1 {
	text-align: center;
}
.b3 {
	background: #f4f3ef;
}
.b3 .partners {
	text-align: center;
	background: white;
	display: flex;
}
.b3 .partners img {
	max-height: 100px;
}

#signature {
	text-align: right;
	padding-right: 20px;
}



/*-----------------------------FOOTER-----------------------------*/

footer {
	background: #364c63;
	color: #f4f3ef;
	height: 210px;
	width: 100vw;
	margin: 0;
	padding: 10px;
	position: relative;
	bottom: 0;
	font-size: 14px;
}

.footer {
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 5px;
}

#footerdiv1 {
	grid-row: 1/2;
	text-align: center;
	padding: 10px;
}

#footerdiv1 a {
	text-decoration: none;
	color: white;
}

#footerdiv1 a:hover,
#footerdiv1 a:active {
	font-weight: bold;
}

#footerdiv2 {
	grid-row: 2/3;
	text-align: center;
	align-content: center;
}

.footer #footerdiv2 img {
	height: 60px;
}

/*Font awesome icons in #footerdiv1*/
.fa {
	margin: 10px 0px;
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}



/*-----------------------------MEDIA QUERY-----------------------------*/

/*iPad*/
@media (min-width: 361px) {
	.container-a {
		height: 405px;
	}
	.t1 {
		position: absolute;
		top: 37%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		text-shadow: 3px 3px 5px rgba(0,0,0,.5);
	}
	.container-b {
		background: #e9e3d7;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.b1 {
		grid-column: 1/2;
		align-content: center;
		padding: 60px 0px 50px 20px;
	}
	.b1 img {
		max-width: 300px;
	}
	.b1 #img1 {
		padding-bottom: 5px;
	}
	.b1 #img2, .b1 #img3 {
		display: inline-block;
	}
	.b2 {
		grid-column: 2/4;
		padding: 60px 20px 50px 20px;
	}
	.b3 {
		grid-column: 1/4;
		grid-row: 2/3; 
	}
	#footerdiv1 {
		color: white;
	}
	#footerdiv1 a {
		text-decoration: none;
		color: white;
	}
}

/*Browser*/
@media (min-width: 769px) {

	.header.scrolled {
		background-color: rgba(233,227,215,.9);
	}
	a {
		color: #364c63;
	}
	.header li {
		float:left;
	}
	.header #shop {
		background: #f3b340;
		font-weight: bold;
	}
	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		overflow: hidden;
		background-color: white;
	}
	.header ul a {
		padding: 20px 30px;
	}
	.header ul a:hover, a:active {
		color: #364c63;
		background-color: #e9e3d7;
		font-weight: bold;
	}

	.header ul a:active {
		font-weight: bold;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul {
		background-color: transparent;
	}
	/*Search box for iPad and Browser*/
	.search-box {
		position: absolute;
		top: 180%;
		right: -1%;
		background: #364c63;
		height: 70px;
		border-radius: 40px 0px 0px 40px;
		padding: 15px;
	}

	.search-box:hover {
		background: white;
	}

	.search-box:hover > .search-txt {
		width: 400px;
		padding: 0 6px;
		background: white;
	}

	.search-btn {
		color: white;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-txt {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: black;
		font-size: 16px;
		transition: .4s;
		line-height: 35px;
		width:  0px;
	}
	/*End of Seach box*/
	.video {
		max-height: 601px;
	}
	.video video {
		max-width: 1349px;
		margin-bottom: 0;
	}
	.t1 {
		position: absolute;
		top: 98%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		text-shadow: 3px 3px 5px rgba(0,0,0,.5);
	}
	.container-a {
		height: 711px;
	}

	.container-b {
		background: #e9e3d7;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.b1 {
		grid-column: 1/2;
		padding: 100px 0px 100px 200px;
	}
	.b1 img {
		max-width: 370px;
	}
	.b1 #img1 {
		padding-bottom: 10px;
	}
	.b1 #img2, .b1 #img3 {
		display: inline-block;
		/*align-self: center;*/
	}
	.b2 {
		grid-column: 2/3;
		padding: 100px 200px 100px 20px;
		vertical-align: center;
	}
	.b2 h1 {
		text-align: center;
	}
	.b2 p {
		line-height: 1.75em;
	}
	.b2 img {
		text-align: center;
		align-content: center;
	}

	.b3 {
		grid-column: 1/3;
		grid-row: 2/3;
		padding: 100px 300px;
	}
}