/*NOTES
Color Palette:
1) Blue - 			#364c63			rgba(54,76,99,)		
2) Dark Orange - 	#e66a2c			rgba(230,106,44,)
3) Flesh - 			#e9e3d7			rgba(233,227,215,)
4) Orange - 		#f3b340			rgba(243,179,64,)
5) Lighter Flesh - 	#f4f3ef			rgba(244,243,239,)				*/

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #fff;
	margin: 0px 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.header {
	/*background-color: rgba(233,227,215,.3);
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);*/
	position: fixed;
	width: 100%;
	z-index: 100;
	vertical-align: middle;
	top: 0;
}
.header.scrolled {
	background-color: rgba(233,227,215,.9);
}

a {
	color: #364c63;
}

.header img {
	height: 50px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
	background-color: white;
}

.header ul a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.header ul a:hover, a:active {
	color: #364c63;
	background-color: #e9e3d7;
	font-weight: bold;
}

.header ul a:active {
	font-weight: bold;
}
.header #shop {
	font-weight: bold;
}

.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 5px 5px;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon {
	/*background-color: rgba(233,227,215,.3);
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);*/
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: #364c63;
	display: block;
	height: 3px;
	width: 25px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 8px;
}

.header .menu-icon .nav-icon:after {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	bottom: 8px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

/*Menu button transformation*/
.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	bottom: 0;
}

/*-----------------------------CONTENT-----------------------------*/
.container-a {
	height: auto;
}

.banner {
	height: auto;
	display: block;
	margin: 0;
}

.banner video {
	width: 100vw;
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

.banner .t1 {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 12%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	text-align: center;
	color: #f4f3ef;
}

.t1 {
	text-transform: uppercase;
	font-weight: bold;
}
.t1 h1 {
	letter-spacing: 4px;
	text-align: center;
	font-size: 20px;
}
.container {
	text-align: center;
	padding: 140px 0px 20px 0px;
}

.container h2 {
	font-size: 24px;
}
.details i {
	padding: 10px;
	font-size: 24px;
}

hr {
	margin: 20px;
}
.comments {
	background: #f4f3ef;
	padding: 30px;
	height: 200px;
}
.modal-open {
	background: transparent;
	border: 1px solid #f3b340;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px 30px;
	color: #f3b340;
}
.modal-open:hover {
	background: #f3b340;
	color: white;
	font-weight: bold;
}

.bg-modal {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}

.modal-content {
	width: 300px;
	height: 500px;
	background: white;
	border-radius: 20px;
	z-index: 200;
	text-align: center;
	padding: 50px 20px 20px 20px;
	opacity: 0;
	visibility: 0;
	transition: all .5s;
}

textarea {
	border: 1px solid #364c63;
}

.modal-close {
	color: black;
	font-size: 40px;
	position: absolute;
	top: 1%;
	right: 8%;
	text-decoration: none;
}

.modal-close:hover,
.modal-close:active {
	color: black;
	background: transparent;
	text-decoration: none;
}

.modal-content #comment-btn {
	background: green;
	margin-top: 20px;
	padding: 10px 20px;
}

#bg-modal:target {
	opacity: 1;
	visibility: visible;
}

#bg-modal:target .modal-content {
	opacity: 1;
	visibility: visible;
}

.map {
	background: #e9e3d7;
}
.map p {
	padding-top: 20px;
}
iframe {
	margin: 10px;
	padding: 10px;
	width: 200px;
	height: 200px;
	background: white;
}




/*-----------------------------FOOTER-----------------------------*/

footer {
	background: #364c63;
	color: #f4f3ef;
	height: 210px;
	width: 100vw;
	margin: 0;
	padding: 10px;
	position: relative;
	bottom: 0;
	font-size: 14px;
}

.footer {
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 5px;
}

#footerdiv1 {
	grid-row: 1/2;
	text-align: center;
	padding: 10px;
}

#footerdiv1 a {
	text-decoration: none;
	color: white;
}

#footerdiv1 a:hover,
#footerdiv1 a:active {
	font-weight: bold;
}

#footerdiv2 {
	grid-row: 2/3;
	text-align: center;
	align-content: center;
}

.footer #footerdiv2 img {
	height: 60px;
}

/*Font awesome icons in #footerdiv1*/
.fa {
	margin: 10px 0px;
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}



/*MEDIA QUERY*/

/*iPad*/
@media (min-width: 361px) {
	/*CONTENT*/
	.container {
		height: auto;
	}

	.banner {
		height: auto;
		display: block;
		margin: 0;
	}

	.banner video {
		top: 7%;
	}

	.banner .t1 {
		top: 10%;
	}
	.t1 h1 {
		letter-spacing: 4px;
		font-size: 30px;
	}
	.container {
		text-align: center;
		padding: 200px 90px 20px 90px;
	}

	.container h2 {
		font-size: 24px;
	}
	.comments {
		height: 160px;
	}

	.modal-content {
		width: 600px;
		height: 500px;
		padding: 80px 20px 20px 20px;
	}

	textarea {
		width: 500px;
	}

	.modal-close {
		color: black;
		font-size: 60px;
		top: 1%;
		right: 5%;
	}
	iframe {
		width: 350px;
		height: 250px;
	}

}

/*Browser*/
@media (min-width: 769px) {
	.header.scrolled {
		background-color: rgba(233,227,215,.9);
	}
	a {
		color: #364c63;
	}
	.header li {
		float:left;
	}
	.header #shop {
		background: #f3b340;
		font-weight: bold;
	}
	.header ul a {
		padding: 20px 30px;
	}
	.header ul a:hover, a:active {
		color: #fff;
		background-color: #f3b340;
	}
	.header ul a:active {
		font-weight: normal;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul {
		background-color: transparent;
	}
	.banner video {
		top: 11%;
	}
	.banner .t1 {
		top: 21%;
	}
	.t1 h1 {
		letter-spacing: 5px;
		font-size: 42px;
	}
	.container {
		text-align: center;
		padding: 320px 90px 20px 90px;
	}

	.container h2 {
		font-size: 28px;
	}
	.comments {
		height: 190px;
	}
	iframe {
		width: 500px;
		height: 400px;
	}
}