/*NOTES
Color Palette:
1) Blue - 			#364c63			rgba(54,76,99,)		
2) Dark Orange - 	#e66a2c			rgba(230,106,44,)
3) Flesh - 			#e9e3d7			rgba(233,227,215,)
4) Orange - 		#f3b340			rgba(243,179,64,)
5) Lighter Flesh - 	#f4f3ef			rgba(244,243,239,)				*/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: font-family: 'Montserrat', sans-serif;
	background-color: #f4f3ef;
}

/*-----------------------------NAVBAR-----------------------------*/

a {
	color: #364c63;
}

.header {
	/*background-color: rgba(233,227,215,.9);*/
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 100;
	vertical-align: middle;
	top: 0;
}
.header.scrolled {
	background-color: rgba(233,227,215,.9);
}

.header img {
	height: 50px;
}

/*Search box for Browser*/
.search-box {
	position: absolute;
	top: 180%;
	right: -1%;
	background: #364c63;
	height: 70px;
	border-radius: 40px 0px 0px 40px;
	padding: 15px;
}

.search-box:hover {
	background: white;
}

.search-box:hover > .search-txt {
	width: 200px;
	padding: 0 6px;
	background: white;
}

.search-btn {
	color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: .4s;
	line-height: 35px;
	width:  0px;
}
/*End of Seach box*/

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
	background-color: white;
}

.header ul a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.header ul a:hover, a:active {
	color: #364c63;
	background-color: #e9e3d7;
	font-weight: bold;
}

.header ul a:active {
	font-weight: bold;
}
.header #shop {
	font-weight: bold;
}

.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 5px 5px;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon {
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: #364c63;
	display: block;
	height: 3px;
	width: 25px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 8px;
}

.header .menu-icon .nav-icon:after {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	bottom: 8px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	bottom: 0;
}

/*-----------------------------CONTENT-----------------------------*/

.browser, .browser2 {
	display: none;
}

.grid1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 80px 20px 20px 20px;
}

.phone {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: white;
	margin-top: 10px;
	margin-bottom: 30px;
	max-height: 
}

.card1 {
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 100px;
	grid-template-areas: "image";
	border-radius: 20px;
	background: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,.9);
	margin: 10px;

	transition: .5s ease;
	cursor: pointer;
}
.card-image1 {
	grid-area: image;
	background: url("http://place-puppy.com/100x100");
	border-radius: 20px;
	background-size: cover;
}

.card1:hover {
	transform: scale(1.2);
}

.grid2, .grid3 {
	display: none;
}



/*-----------------------------FOOTER-----------------------------*/

footer {
	background: #364c63;
	color: #f4f3ef;
	height: 200px;
	width: 100vw;
	margin: 0;
	padding: 10px;
	position: relative;
	bottom: 0;
	font-size: 14px;
}

.footer {
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 5px;
}

#footerdiv1 {
	grid-row: 1/2;
	text-align: center;
}

#footerdiv2 {
	grid-row: 2/3;
	text-align: center;
	align-content: center;
}

.footer #footerdiv2 img {
	height: 60px;
}

/* Style all font awesome icons in #footerdiv1*/
.fa {
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}


/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}



/*-----------------------------MEDIA QUERIES-----------------------------*/

/*iPad*/
@media (min-width: 361px) {

	.title {
		margin: 100px 50px 50px 50px;
	}
	.phone {
		margin-top: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.grid2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.phone2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background: white;
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 
	}

	.card2 {
		display: grid;
		grid-template-columns: 150px;
		grid-template-rows: 100px;
		grid-template-areas: "image";
		border-radius: 20px;
		background: white;
		box-shadow: 2px 2px 5px rgba(0,0,0,.9);
		margin: 10px;

		transition: .5s ease;
		cursor: pointer;
	}
	.card-image2 {
		grid-area: image;
		background: url("http://place-puppy.com/150x100");
		border-radius: 20px;
		background-size: cover;
	}

	.card2:hover {
		transform: scale(1.2);
	}

	.grid3 {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.phone3 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background: white;
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 
	}

	.card3 {
		display: grid;
		grid-template-columns: 200px;
		grid-template-rows: 200px;
		grid-template-areas: "image";
		border-radius: 20px;
		background: white;
		box-shadow: 2px 2px 5px rgba(0,0,0,.9);
		margin: 10px;

		transition: .5s ease;
		cursor: pointer;
	}
	.card-image3 {
		grid-area: image;
		background: url("http://place-puppy.com/200x200");
		border-radius: 20px;
		background-size: cover;
	}

	.card3:hover {
		transform: scale(1.2);
	}

	/* Style all font awesome icons in #footerdiv1*/
	.fa {
		padding: 10px;
		font-size: 15px;
		width: 20px;
		text-align: center;
		text-decoration: none;
	}

	/* Add a hover effect if you want */
	.fa:hover {
		opacity: 0.7;
	}


	/* Facebook */
	.fa-facebook {
		background: #3B5998;
		color: white;
	}

	/* Twitter */
	.fa-twitter {
		background: #55ACEE;
		color: white;
	}*/

}

/*Browser*/
@media (min-width: 769px) {
	
	a {
		color: #364c63;
	}
	.header li {
		float:left;
	}
	.header #shop {
		background: #f3b340;
		font-weight: bold;
	}
	.header ul a {
		padding: 20px 30px;
	}
	.header ul a:hover, a:active {
		color: #fff;
		background-color: #f3b340;
	}
	.header ul a:active {
		font-weight: normal;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul {
		background-color: transparent;
	}
	/*Search box for iPad and Browser*/
	.search-box {
		position: absolute;
		top: 180%;
		right: -1%;
		background: #364c63;
		height: 70px;
		border-radius: 40px 0px 0px 40px;
		padding: 15px;
	}

	.search-box:hover {
		background: white;
	}

	.search-box:hover > .search-txt {
		width: 400px;
		padding: 0 6px;
		background: white;
	}

	.search-btn {
		color: white;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-txt {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: black;
		font-size: 16px;
		transition: .4s;
		line-height: 35px;
		width:  0px;
	}
	/*End of Seach box*/

	/*CONTENT*/
	.grid1, .grid2, .grid3 {
		display: none;
	}

	.browser {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin: 20px 100px 10px 100px;
		/*background: white;*/
	}

	.browser2 {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin: 20px 100px 100px 100px;
		/*background: white;*/
	}
	.store h1 {
		display: block;
	}
	.card {
		display: grid;
		grid-template-columns: 300px;
		grid-template-rows: 210px 150px 100px;
		grid-template-areas: "image" "text" "buttons";
		border-radius: 20px;
		background: white;
		box-shadow: 2px 2px 5px rgba(0,0,0,.9);
		margin: 20px;
	}
	.card-image {
		grid-area: image;
		background: url("https://d2pa5gi5n2e1an.cloudfront.net/global/images/product/laptops/ASUS_Laptop_15_X509FJ/ASUS_Laptop_15_X509FJ_L_1.jpg");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-image-a {
		grid-area: image;
		background: url("https://images.anandtech.com/doci/14726/Galaxy-Book-S-Product-Images-678_678x452.jpg");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-image-b {
		grid-area: image;
		background: url("https://cdn.mos.cms.futurecdn.net/ahevYTh9pWRzkNPF85MQhb-1200-80.jpg");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-image-c {
		grid-area: image;
		background: url("https://asset.msi.com/resize/image/global/product/product_1_20171212102850_5a2f3ee289772.png62405b38c58fe0f07fcef2367d8a9ba1/600.png");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-image-d {
		grid-area: image;
		background: url("https://i.pcmag.com/imagery/roundups/02XG5rs8PhqkQFMDonBjBWF-8.jpg");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-image-e {
		grid-area: image;
		background: url("https://i.rtings.com/images/reviews/keyboard/logitech/k380/k380-design-medium.jpg");
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background-size: cover;
	}
	.card-text {
		grid-area: text;
		padding: 10px;
		height: 150px;
		overflow-y: scroll;
	}
	.card-text p {
		color: gray;
		font-size: 15px;
		font-weight: 300;
		margin: 0;
	}
	.card-text #price {
		color: #f3b340;
		font-weight: bold;
	}
	.card-text h2 {
		margin-top: 0px;
		font-size: 24px;
	}
	.card-buttons {
		grid-area: buttons;
		text-align: center;
		align-items: center;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		background: #ddd;
		padding: 10px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.card-buttons a:hover {
		color: #f3b340;
	}

	/*FOOTER*/

	footer {
		padding: 20px;
		font-size: 16px;
		height: 320px;
	}

	#footerdiv1 {
		font-size: 22px;
		color: #f4f3ef;
		padding: 10px;
	}

	#footerdiv1 a {
		text-decoration: none;
		color: white;
	}

	#footerdiv1 a:hover,
	#footerdiv1 a:active {
		font-weight: bold;
	}

	#footerdiv2 {
		grid-row: 2/3;
		text-align: center;
		align-content: center;
	}

	.footer #footerdiv2 img {
		height: 80px;
	}
}
