/*NOTES
Color Palette:
1) Blue - 			#364c63			rgba(54,76,99,)		
2) Dark Orange - 	#e66a2c			rgba(230,106,44,)
3) Flesh - 			#e9e3d7			rgba(233,227,215,)
4) Orange - 		#f3b340			rgba(243,179,64,)
5) Lighter Flesh - 	#f4f3ef			rgba(244,243,239,)				*/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: font-family: 'Montserrat', sans-serif;
	background-color: #f4f3ef;
}

/*-----------------------------NAVBAR-----------------------------*/



.header {
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 100;
	vertical-align: middle;
	top: 0;
}

.header.scrolled {
	background-color: rgba(233,227,215,.9);
}

a {
	color: #364c63;
}

.header img {
	height: 50px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
	background-color: white;
}

.header ul a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.header ul a:hover, a:active {
	color: #364c63;
	background-color: #e9e3d7;
	font-weight: bold;
}

.header ul a:active {
	font-weight: bold;
}

.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 5px 5px;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon {
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: #364c63;
	display: block;
	height: 3px;
	width: 25px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 8px;
}

.header .menu-icon .nav-icon:after {
	background: #364c63;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	bottom: 8px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	bottom: 0;
}

/*Search bar for Browser*/
.search-box {
	position: absolute;
	top: 180%;
	right: -1%;
	background: #364c63;
	height: 70px;
	border-radius: 40px 0px 0px 40px;
	padding: 15px;
}

.search-box:hover {
	background: white;
}

.search-box:hover > .search-txt {
	width: 200px;
	padding: 0 6px;
	background: white;
}

.search-btn {
	color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: .4s;
	line-height: 35px;
	width:  0px;
}
/*End of Seach box*/

/*-----------------------------CONTENT-----------------------------*/

.upperdiv {
	margin: 90px 30px 30px 30px;
	display: block;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

.box1 {
	display: block;
}

.box1 h2 {
	background: #f3b340;
	padding: 5px;
}

.box2 {
	display: none;
}

.box3 {
	margin-top: 15px;
	padding: 20px;
	height: auto;
	width: auto;
	grid-column: 1/4;
	grid-row: 2/3;
	background: #e9e3d7;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.box3 .brand1 img {
	width: 100%;
	float: right;
}

.box3 .brand2 img {
	width: 80px;
	float: right;
}

.box3 .brand3 img {
	width: 80px;
}

.box3 .brand4 img {
	width: 100%;
}

.box3 .b3-title {
	grid-column: 1/5;
	grid-row: 4/5;
	background: #f3b340;
	text-align: center;
	padding-top: 5px;
}

.brand1 {
	grid-column: 1/3;
	grid-row: 1/3;
}


.brand2 {
	grid-column: 1/3;
	grid-row: 3/4;
}

.brand3 {
	grid-column: 3/5;
	grid-row: 1/2;
}

.brand4 {
	grid-column: 3/5;
	grid-row: 2/4;
}

.lowerdiv {
	background-color: #fff; 
	padding: 10px;
	margin: 30px;
	box-shadow: 5px 10px #888888;
	overflow-x: scroll;
}

.lowbox > div:nth-child(even) {
	padding: 10px;
	background: #e9e3d7;
	border-radius: 5px;
}

.lowbox > div:nth-child(odd) {
	padding: 10px;
	border-radius: 5px;	
}

.lowbox a {
	color: black;
	text-decoration: underline;
}

/*-----------------------------FOOTER-----------------------------*/

footer {
	background: #364c63;
	color: #f4f3ef;
	height: 200px;
	width: 100vw;
	margin: 0;
	padding: 10px;
	position: relative;
	bottom: 0;
	font-size: 14px;
}

.footer {
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 5px;
}

#footerdiv1 {
	grid-row: 1/2;
	text-align: center;
}

#footerdiv2 {
	grid-row: 2/3;
	text-align: center;
	align-content: center;
}

.footer #footerdiv2 img {
	height: 60px;
}

/* Style all font awesome icons in #footerdiv1*/
.fa {
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}


/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}



/*-----------------------------MEDIA QUERIES-----------------------------*/

/*iPad*/
@media (min-width: 361px) {
	.header .menu {
		width: 100%;
		float:right;
		max-height: 0;
		transition: max-height .2s ease-out;
	}

	.upperdiv {
		height: 1050px;
		margin: 90px 75px 75px 75px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr 1fr;
		grid-gap: 10px;
	}

	.upperdiv > div {
		padding: 1em;
	}

	.upperdiv .carousel {
		height: 100%;
	}

	.upperdiv #upperdiv-title {
		grid-row: 1/2;
	}

	.upperdiv #upperdiv-title h2 {
		background: #f3b340;
		padding: 10px;
	}


	.box1 {
		grid-row: 2/3;
	}

	.box1 h2 {
		background: #f3b340;
		padding: 5px;
	}

	.box2 {
		display: none;
	}

	.box3 {
		height: 400px;
		width: auto;
		grid-row: 3/4;
		background: #e9e3d7;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.box3 .brand1 img {
		width: 260px;
		float: right;
	}

	.box3 .brand2 img {
		width: 250px;
		float: right;
	}

	.box3 .brand3 img {
		width: 250px;
		vertical-align: bottom;
	}

	.box3 .brand4 img {
		width: 260px;
	}

	.brand1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}


	.brand2 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.brand3 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.brand4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.lowerdiv {
		background-color: #fff; 
		padding: 10px;
		margin: 75px;
		min-height: 500px;
		
	}

	.lowbox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px 1fr 1fr;
		grid-gap: 10px;
	}

	.bulletin {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.bbox1 {
		grid-column: 1/2;
		grid-row: 2/4;
	}
	.bbox2 {
		grid-column: 2/3;
		grid-row: 2/4;
	}
	.bbox3 {
		grid-column: 2/3;
		grid-row: 3/4;
	}
	.bbox4 {
		grid-column: 1/3;
	}
	/*FOOTER*/

	footer {
		height: 300px;
		padding: 20px;
		font-size: 16px;
	}

	#footerdiv1 a {
		font-size: 20px;
		color: white;
	}

	#footerdiv2 {
		grid-row: 2/3;
		text-align: center;
		padding: 10px;
	}

	.footer #footerdiv2 img {
		height: 80px;
	}

	/* Style all font awesome icons in #footerdiv1*/
	.fa {
		padding: 10px;
		font-size: 15px;
		width: 20px;
		text-align: center;
		text-decoration: none;
	}

	/* Add a hover effect if you want */
	.fa:hover {
		opacity: 0.7;
	}


	/* Facebook */
	.fa-facebook {
		background: #3B5998;
		color: white;
	}

	/* Twitter */
	.fa-twitter {
		background: #55ACEE;
		color: white;
	}

}

/*Browser*/
@media (min-width: 769px) {
	a {
		color: #364c63;
	}
	.header li {
		float:left;
	}
	.header #shop {
		background: #f3b340;
		font-weight: bold;
	}
	.header ul a {
		padding: 20px 30px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header ul {
		background-color: transparent;
	}
	/*Search box for iPad and Browser*/
	.search-box {
		position: absolute;
		top: 180%;
		right: -1%;
		background: #364c63;
		height: 70px;
		border-radius: 40px 0px 0px 40px;
		padding: 15px;
	}

	.search-box:hover {
		background: white;
	}

	.search-box:hover > .search-txt {
		width: 400px;
		padding: 0 6px;
		background: white;
	}

	.search-btn {
		color: white;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-txt {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: black;
		font-size: 16px;
		transition: .4s;
		line-height: 35px;
		width:  0px;
	}
	/*End of Seach box*/

	.upperdiv {
		height: 100vh;
		margin: 150px 150px 30px 150px;
	}

	.upperdiv {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 70px 350px auto;
		grid-gap: 10px;
	}

	.upperdiv > div {
		padding: 1em;
	}

	.upperdiv #upperdiv-title {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.upperdiv #upperdiv-title h2 {
		background: #f3b340;
		padding: 10px;
	}

	.box1 {
		grid-column: 1/3;
		grid-row: 2/4;
	}

	.box2 {
		padding-top: 100px;
		/*background: #364c63;*/
		display: block;
		grid-column: 3/5;
		grid-row: 2/3;
	}

	.box3 {
		display: none;
	}

	.box3 .brand1 img {
		width: 378px;
		height: ;
	}

	.box3 .brand2 img {
		width: 378px;
		height: ;
	}

	.box3 .brand3 img {
		width: 378px;
		height: ;
	}

	.box3 .brand4 img {
		width: 378px;
		height: ;
	}

	.brand1 {
		grid-row: 1/2;
		grid-column: 1/2;
	}


	.brand2 {
		grid-row: 2/3;
		grid-column: 1/2;
	}

	.brand3 {
		grid-row: 1/2;
		grid-column: 2/3;
	}

	.brand4 {
		grid-row: 2/3;
		grid-column: 2/3;
	}

	.lowerdiv {
		margin: 10px 150px 30px 150px;
		background-color: #fff; 
		padding: 10px;
		display: block;
	}
	.lowbox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/*grid-template-rows: repeat(2 1fr);*/
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 10px;
	}

	.bulletin {
		grid-column: 1/3;
	}
	.bbox1 {
		grid-row: 2/4;
	}
	.bbox2 {
		grid-column: 2/3;
	}
	.bbox3 {
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.bbox4 {
		grid-column: 1/2;
	}
}
