html {
	scroll-behavior: smooth;
}

body {
	background:  #f3b340;
	margin: 0px 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.landing {
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}

.container-a {
	height: 100vh;
	max-width: 360px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0px 30px;
}

.bgimg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
}

.bgvideo {
	display: none;
}

.bgvideo2 {
	display: none;
}

.bgvideo video {
	height: 100%;
}

.bgoverlay {
	height: 100vh;
	width: 100vw;
	background: #f3b340;
	opacity: 60%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.content {
	color: #f4f3ef;
	width: 100%;
	z-index: 5;
}

/*Container-A Content*/
.text {
	margin: 20px 0px 20px 0px;
	padding: 30px;
}

.landing .content .interactive {
	height: auto;
	padding-left: 10px;
}

.btn {
	background-color: #f4f3ef;
	color: orange;
	border-radius: 30px;
	/*font-size: 1em;*/
	/*padding: 1rem 2rem;*/
	margin: 5px 5px;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}

/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: rgba(54,76,99,.5);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 18px 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(54,76,99,.5) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	/*-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;*/
}

.btn2 {
	background: #364c63;
	color: white;
	box-shadow: rgba(0,0,0,.5);
	padding: 5px 8px;
	font-size: 14px;
	text-decoration: none;
	margin: 5px 3px;
	display: inline-block;
}


/*DIV2*/

.container-b {
	height: 100vh;
	background-color: #f3b340;
	align-self: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	display: block;
	margin: 0px 20px;
}

.container-b h1 {
	display: block;
}

.pc-tab > input, 
.pc-tab section > div {
	display: none;
}

#tab1:checked ~ section .tab1, 
#tab2:checked ~ section .tab2 {
	display: block;
} 

.pc-tab ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pc-tab {
	background-color: rgba(54,76,99,.5); 
	border-radius: 0px 0px 10px 10px;
}

.pc-tab ul li label {
	float: left;
	padding: 15px 25px;
	/*margin-left: 2px;*/
	border-bottom: 0;
	background: rgba(54,76,99,.5);
	color: white;
}

.pc-tab ul li label:hover,
.pc-tab ul li label:active {
	background: rgba(54,76,99,1);
	color: #e66a2c;
}

.pc-tab ul li:not(:last-child) label {
	border-right-width: 0;
}

.pc-tab section {
	clear: both;
}





/*Registration Form*/

/*MOBILE REG FORM*/
#regform {
	background-color: rgba(54,76,99,1);
	padding: 20px;
	text-align: center; 
	text-transform: uppercase;
	border-radius: 10px 10px 0px 0px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

/* Style the label to display next to the inputs */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	color: #f4f3ef;	
}

/* Style the submit button */
input[type=submit] {
	background-color: #e66a2c;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

/* Style the container */
.tab1, .tab2 {
	border-radius: 0px 0px 10px 10px;
	/*background-color: rgba(54,76,99,.5);*/
	padding: 20px;
	height: 300px;
	overflow-x: scroll;
}

.section {
	text-transform: uppercase;
	font-weight: bold;
	/*padding: 20px;*/
}

/* Floating column for labels: 20% and 50% width */
.col-20, .col-50 {
	float: left;
	width: 100%;
	margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/*FOOTER*/

footer {
	background: #364c63;
	color: #f4f3ef;
	height: 100px;
	width: 100vw;
	margin: 0;
	padding: 10px;
	position: relative;
	bottom: 0;
}

.footer {
	width: auto;
	display: flex;
}

#footerdiv {
	width: 50%;
	margin: 5px;
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 15px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}


/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}



/*MEDIA QUERY*/

/*iPad*/
@media (min-width: 361px) {
	.bgvideo {
		display: none;
	}
	.bgvideo2 {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
	.landing {
		height: 100vh;
		width: auto;
		display: flex;
		align-items: center;
		color: white;
	}
	.container-a {
		max-width: 700px;
		margin: 0px 60px;
	}

	.text {
		margin: 10px 0px;
		padding: 50px;
	}
	h1 {
		font-size: 3em;
	}
	p {
		font-size: 2em;
	}
	.landing .content .interactive {
		font-size: 1.5em;
		height: auto;
		padding-left: 30px;
	}
	.popup .popuptext {
		width: 350px;
	}
	.popup .popuptext::after {
		left: 25%;
	}
	.container-b {
		display: block;
		max-width: 700px;
		margin: 60px 60px;
		height: 75vh;	
	}

	h2 {
		font-size: 2em;
	}
	.main {
		height: 600px
	}
}

/*Browser*/
@media (min-width: 769px) {
	.bgvideo {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.bgimg {
		display: none;
	}

	.bgvideo2 {
		display: none;
	}

	.bgvideo video {
		height: auto;
		width: 100vw;
	}
	.landing {
		height: 100vh;
		width: auto;
		color: white;
		align-items: center;
	}
	.container-a {
		max-width: 1400px;
		margin: 0px 150px;
	}
	.popup .popuptext {
		width: 350px;
	}
	.popup .popuptext::after {
		left: 25%;
	}
	.container-b {
		display: block;
		max-width: 1400px;
		margin: 150px 150px;
		height: 75%;	
	}
	input[type=text], select, textarea{
		width: 80%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: vertical;
	}

	label {
		padding: 12px 12px 12px 0;
		display: inline-block;
		color: #f4f3ef;	
	}
	.section {
		padding: 20px 40px;
	}
	.row {
		display: flex;
	}
	.col-20 {
		padding-left: 150px;
		width: 30%;
	}

	.row .col-70 {
		padding: 50px;
		display: inline;
	}
}